@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

/*  set background color */
* body {
    background-color: #EBF7D4;
}

/*  grid container rows 
row 1 - future menu
row 2 - title
row 3 - cards
row 4 - messages
row 5 - buttons - higher, lower
row 6 - button - draw
row 7 - stats    */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 4rem
     2fr 1fr 2rem 2rem 1fr; 
    border: 5px solid #B8141F;
    justify-items: center; 
    align-items:  center;
}

.grid-row-1 {
    border: 2px dashed blue;
    background-color: #B8141F
}
.grid-row-2 {
    border: 2px dashed green;
    font-size: 2rem;
    font-family: 'Baloo Paaji 2', cursive;
}
.grid-row-3 {
    border: 2px dashed red;
    display: inline;
    justify-items: top;
    align-items: top;
    max-height: 100%;
}
.grid-row-4 {
    border: 2px dashed blue;
}
.grid-row-5 {
    border: 2px dashed green;  
    display: inline; 
}
.grid-row-6 {
    border: 2px dashed red;
}
.grid-row-7 {
    border: 2px dashed blue;
}

.faceshowing {
    height: 10rem;
    width: auto;
}

.compareshowing {
    height: 10rem;
    width:auto;
}
.message {
    text-align: center;
}

.draw {
    visibility: hidden;
}