@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

/*  set background color */
* body {
    background-color: #D4EDF7;
}
/* color palette - Triadic Color Scheme
light blue: #D4EDF7
teal:       #347B98
pink:       #C21460
Yellow:     #FCCB1A
Burgendy:   #34091C  */

/*  grid container rows 
row 1 - future menu
row 2 - title
row 3 - cards
row 4 - draw button
row 5 - messages
row 6 - stats
row 7 - future   */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr
     1.75fr 3rem 5rem 8rem 2rem; 
    /* border: 5px solid #B8141F; */
    justify-items: center; 
    align-items:  center;
}

.grid-row-1 {
    grid-area: 1 / 1 / 1 / 1;
}

.grid-row-2 {
    grid-area: 2 / 1 / 2 / 1;
    border: .5rem outset #34091C;
    font-size: 2rem;
    font-family: 'Baloo Paaji 2', cursive;
    display: flex;
    text-align: center;
    color: #D4EDF7;
    background-color: #B8141F;
    line-height: 1.6rem;
    padding: 0 2rem 0 2rem;

}
.grid-row-3 {
    grid-area: 3 / 1 / 3 / 1;
    /* border: 2px dashed red; */
    display: inline;
    justify-items: top;
    align-items: top;
    max-height: 100%;
}
.grid-row-4 {
    grid-area: 4 / 1 / 4 / 1;
    justify-content: bottom;
}
.grid-row-5 {
    grid-area: 5 / 1 / 5 / 1;
    color: #083445;
    align-items: top;
    padding: 0 6rem 0 6rem; 
    /* border: 2px dashed blue; */
}
.grid-row-6 {
    grid-area: 6 / 1 / 6 / 1;
    line-height: 2px;
}

.grid-row-7 {
    grid-area: 7 / 1 / 7 / 1;
}

.faceshowing {
    height: 10rem;
    width: auto;
    border: 5px solid #D4EDF7; 
}

.compareshowing {
    height: 10rem;
    width:auto;
    border: 5px solid #D4EDF7; 
}
.message {
    text-align: center;
}

.title {
    text-align: center;
}

.draw {
    color:#D4EDF7;
    background-color: #B8141F;
    border: 2px solid #083445;
    border-radius: 5px;
    padding: 0 3rem 0 3rem;
    visibility: hidden;
    pointer-events:  cursor;
}

button:hover {
    background-color: teal;
}
